.main {
	text-align: center;
}

.todoMain {
	width: 40%;
	margin: 10% auto;
	margin-bottom: 3%;
	background-color: #f7f7f7;
	border-radius: 20px;
	box-shadow: 3px 6px 8px rgba(76, 75, 75, 0.644);
	overflow: hidden;
}

.todoMain h3 {
	margin-top: 15px;
	border-radius: 18px 18px 0 0;
	font-weight: 700;
}

.todoForm {
	width: auto;
	margin: 0 15px 0 5px;
	padding: 13px 13px 13px 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	margin-top: 15px;
}

li {
	background-color: #ffffff;
	color: #666666;
	padding: 6px 4px;
}

li:nth-child(2n) {
	background-color: #e3e3e3;
}

li:nth-last-child(1) {
	border-radius: 0 0 18px 18px;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
	.todoMain {
		width: 70%;
	}
}

@media only screen and (max-width: 600px) {
	.todoMain {
		width: 100%;
		margin-bottom: 9%;
	}

	.todoForm {
		margin-left: 5px;
	}
}
